*,
*::before, 
*::after {

    margin:0;
    padding:0;
    box-sizing:border-box;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size:10px;
}
body {
width:100%;
height:100vh;
background-color:lightgray;
background-color:rgb(250, 248, 248);
}

/*Header*/ /*Source: https://www.youtube.com/watch?v=-drcStMYOcM*/
header nav ul li {
list-style:none;
}

header a {
    color:rgb(44, 43, 43);
    text-decoration:none;
    cursor: pointer;
    position:relative;
}

header {
    margin:10px;
    padding:35px 100px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header nav ul {
    display:flex;
}

header nav ul li{
    margin 0px 15px;
    padding:35px;
    text-transform:uppercase;
    letter-spacing: 3px;
    position:relative
   

}

header nav ul li:first-child{
    margin-left:0px;
}

header nav ul li:last-child{
    margin-right:0px;
}

header nav ul li a::before{
    content:""; /*För att kunna använda :: pseudo-elementen*/
    position: absolute;
    width:100%;
    height:1px;
    top:15px;
    left:0;
    background-color:rgb(41,40,40);
    visibility:hidden; /*Om inte webbläsaren stödjer denna effekt*/
    transform:scaleX(0);
    transition:all 0.4s linear; /*Hastigheten på underlinjen*/

}

header nav ul li a:hover:before,
header nav ul li a:focus:before {
    visibility: visible;
    transform:scaleX(1);
}

/*First photo on main*/

.about {
    position:relative;
    max-width:100%;
    margin-top:250px;
    margin-left:20px;
    text-align:left;

}
.about img {
    max-width:75%;
   
}
.about .aboutinfo  {
    color:rgb(44, 43, 43);
    display:inline-block;
    position: absolute;
    background-color: white;
    margin-left:800px;
    margin-top:10%;
    padding:50px;
}
/*Second photo on main*/
.seemore {
    position:relative;
    max-width:100%;
    margin-top:100px;
}
.seemore img {
    max-width:75%;
    float:right;
    margin-right:20px;
}
.seemore .seemoreinfo  {
    color:rgb(44, 43, 43);
    display:inline-block;
    position: absolute;
    background-color: white;
    margin-left:250px;
    padding:50px;
    margin-top:15%;
}
/*Third photo on mainpage*/
.contactme {
    position:relative;
    max-width:100%;
    margin-top:1000px;
    margin-bottom:200px;
}
.contactme img {
    max-width:75%;
    float:left;
    margin-left:20px;
    margin-bottom:50px;
    
}
.contactme .contactmeinfo  {
    color:rgb(44, 43, 43);
    display:inline-block;
    position: absolute;
    background-color: white;
    margin-left:800px;
    padding:50px;
    margin-top:15%;
}

h4 {
    font-size:6rem;
}

p {font-size:1.1rem;}

/*About*/

main {
    position: relative;
    top:30%;
    left:5%;
    display:flex;
    flex-direction: column;
    padding:50px;
    max-width:90%;
    min-height:50%;
    color: black;
    align-content: center;
    background:url(bilder/moln.jpg);
    background-image:no-repeat;
    background-image:cover;

}

main > h4, main > .aboutmetext {
position:relative;
top:10%;
left:5%;
max-width:80%;
}




/*Art-gallery*/
/*Slideshow*//*https://www.youtube.com/watch?v=FWQir0ZfAJI*/
.slideshow {
    position:relative;
    left:25%;
    top:25%;
    width:100%;
    height:auto;
    
}
.slideshow-items {
    width:inherit;
    height:inherit;
    position:absolute;
    opacity:0;
    animation:cycleimages 31s infinite;
}

.slideshow-items:nth-child(1){
    animation-delay:0s;
}
.slideshow-items:nth-child(2){
    animation-delay:10s;
}
.slideshow-items:nth-child(3){
    animation-delay:20s;
}

.slideshow-item img {
    /*display:block;*/
    width:100%;
    height:100%;
    object-fit:cover;
}

.slideshow-item-text {
    max-width:50%;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    background-color:rgba(0,0,0, .8);
    padding:10rem 5rem;
    color: white;
}

.slideshow-item-text h5 {
    font-size:5rem;
    font-family:;
    text-transform:uppercase;
    letter-spacing:3px;
    margin-bottom:2.5rem;
}
.slideshow-item-text p {
    font-size:1.5rem;
    font-family:;
    letter-spacing:1px;
    margin-bottom:2.5rem;
    font-weight:;
}

@keyframes cycleimages {
    25% {
        opacity:1;
    }
    40% {
        opacity:0;

    }
}


/*Art-gallery*/ /*Source:https://www.youtube.com/watch?v=zgXHgKad7N0*/
.container {
    position:relative;
    width:100%;
    max-width:120rem;
    top:110%;
    left:20%;
}
.artwork {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto ;
    grid-gap:1.5rem;
    grid-template-areas: 
    'art1 art2 art3 art3'
    'art1 art4 art5 art6'
    'art7 art7 art8 art6';
}
.artwork a {
    width:100%;
    height:25rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
}
.artwork a i {
    color:white;
    font-size:3rem;
    position:relative;
    z-index:100;
    padding:1rem 3rem;
    border: 2px solid white;
    border-radius: .9rem;
    opacity:0;
    transition:opacity .5s;
}

.artwork a::before {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;}

.artwork a:hover i,
.artwork a:hover::before {
    opacity:1;

}
.art1 {
    grid-area:art1;
    min-height:51.5rem;
    background-image: url("bilder/eyes.jpg");
}
.art2 {
    grid-area:art2;
    background-image: url("bilder/footsteps.jpg");
}
.art3 {
    grid-area:art3;
    background-image: url("bilder/girl.jpg");
}
.art4 {
    grid-area:art4;
    background-image: url("bilder/leaf.jpg");
}
.art5 {
    grid-area:art5;
    background-image: url("bilder/moln.jpg");
}
.art6 {
    grid-area:art6;
    min-height: 51.5rem;
    background-image: url("bilder/angel.jpg");
}
.art7 {
    grid-area:art7;
    background-image: url("bilder/eyes.jpg");
}
.art8 {
    grid-area:art8;
    background-image: url("bilder/leaf.jpg");
}

 


 /*Contact*/ /*Inspiration from 
 https://webdesign.tutsplus.com/tutorials/building-responsive-forms-with-flexbox--cms-26767*/
form {
    margin-top:250px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
 }

 .formlist {
   
 }
 .formlist li, .checkbox li {
    display:flex;
    text-transform: uppercase;
    letter-spacing: .7px;

 }
 .formlist li label, p, .checkbox li{
    flex: 1 0 120px;
    max-width:220px;
    
 }

 .formlist li label, .checkbox {
    flex: 1 0 220px;

 }

 textarea#questions {
     padding:5px;
     max-width:400px;
    flex: 1 0;
 }

 .buttons {
     display:flex;
     justify-content: center;

 }

input[type="submit"], input[type="reset"] {
    margin:5px;
    padding:5px 14px;
    border:none;
    text-transform:uppercase;
    letter-spacing:.09em;
    width:70px;
    background-color:lightslategrey;
    transition:0.8s;
    color:rgb(41,40,40);
}
input[type="submit"]:hover{
   background-color:rgb(41,40,40);
   color:white;
}
input[type="reset"]:hover{
    background-color:rgb(41,40,40);
    color:white;
 }

 /*Footer*/

footer {
    color:rgb(44, 43, 43);
    position:absolute;
    display:flex;
    margin:20px;
    bottom:0;
    width:100%;
    justify-content: center;
    border-top: 1px solid rgb(44, 43, 43);
 }
.social {
     padding:10px 20px;
    letter-spacing: .8px;
 }

 .footercontact {
     padding:10px 20px;
    letter-spacing: 1px;
 }

 .footercontactinfo {
     padding:5px;
 }



@media (max-width:900px) {
    header{
        flex-direction:column;
    }
    header h1 {
        margin-bottom:15px;
    }
    header nav li {
        margin: 0 7px;
    }
}

@media (max-width:900px){
    artical {
        margin-top:300px;
    }
}
@media (max-width:700px){
    artical {
        margin-top:300px;
    }
}

@media screen and (max-width:900px) {
    .artwork {
    grid-template-areas:
    'art1 art2 art 3 art4' 
    'art1 art2 art 3 art4'
    'art1 art2 art 3 art6'
    'art6 art6 art7 art6'
    'art8 art8 art8 art6';
    }
    .artwork a {
        height:20rem;
    }
    .art1 {
        min-height:41.5rem;
    }
    .art6 {
        min-height: 20rem;
    }
}
@media screen and (max-width:600px) {
    .artwork {
    grid-template-areas:
    'art1 art1 art1 art1' 
    'art2 art2 art2 art2'
    'art3 art3 art3 art3'
    'art4 art4 art4 art4'
    'art5 art5 art5 art5'
    'art6 art6 art6 art6'
    'art7 art7 art7 art7'
    'art8 art8 art8 art8';
    }
    
    .artwork a,
    .art1,
    .art6 {
        min-height:30rem;
        height:30rem;
    }
    

}